@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
    cursor: none
  }

/* Modal test */


.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0%;
  opacity: 1;
  background: rgb(23 23 23);
  visibility: hidden;
}

  .modal__scrim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: rgba(#000, 0.9);
  }

  .modal__card {
    width: auto;
    background: none;
    z-index: 1;
    box-sizing: border-box;
    /* padding: 5vmin;
    margin: 5vmin; */
    opacity: 0;
    transform: translateY()
  }

  .content {
    overflow: hidden;
  }

  .text {
    font-family: "BLOKKNeue-Regular";
    margin: 0;
    color: #100e17;
    text-align: left;
    letter-spacing: -1px;
    line-height: 1;
    font-size: 12px;
  }



/* .tl-wrapper-status--exiting .myLogoWhite, .tl-wrapper-status--exiting .myLogoBlack {
  opacity: 0;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, border;
  transition-delay: 0s;
} */

/* .tl-wrapper-status--entering .myLogoWhite, .tl-wrapper-status--entering .myLogoBlack {
  opacity: 1;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, border; 
  
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light-theme .downloadLink, .light-theme .menuLeft {
  color: #000;
  transition:all 1s ease;
  -webkit-transition-delay:all 1s ease;
  -moz-transition-delay:all 1s ease;
  -ms-transition-delay:all 1s ease;
  -o-transition-delay:all 1s ease;
}

.menuLeftWrapper p {
  visibility: hidden;
}

svg.menuLeftIcon {
  width: 32px;
}

.closeButton path {
  fill: #fff;
}

.closeButton {
  
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100%   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100%   { opacity: 1; }
}


.menuLeftIcon path {
  transition:all 1s ease;
  -webkit-transition-delay:all 1s ease;
  -moz-transition-delay:all 1s ease;
  -ms-transition-delay:all 1s ease;
  -o-transition-delay:all 1s ease;
  animation-name: spin;
  animation-play-state: paused;
}

.dark-theme .menuLeftIcon path {
  fill: #fff;
}

.light-theme .menuLeftIcon path {
  fill: #000;
}

.dark-theme .downloadLink, .dark-theme .menuLeft {
  color: #fff;
  transition:all 1s ease;
  -webkit-transition-delay:all 1s ease;
  -moz-transition-delay:all 1s ease;
  -ms-transition-delay:all 1s ease;
  -o-transition-delay:all 1s ease;
}

.menuLeft a {
  font-weight: 600;
}


.myLogoBlack {
  position: relative;
  z-index: -2;
}


/* End of test */


  html *,body * {
    cursor: none;
  }

  .menu, .container {
      position: relative;
      z-index: 999;
      margin-top: 40px;
  }


  .light-theme .cursor {
    width: 40px;
    height: 40px;
    border: 8px solid rgb(121, 121, 121);
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);

    transition-property: opacity, background-color, transform, border;
  }
  
  .cursor {
    width: 140px;
    height: 140px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: all 150ms ease;
    transition-property: opacity, background-color, transform, border;
}


.tl-wrapper-status--exiting .phrase {
opacity: 0 !important;
transition: all 1s ease;
transition-property: opacity;
}

.phrase div, .menu-item-line {
  overflow: hidden;
}

/* #menu-items .phrase {opacity: 0;} */

  .c--hidden {
     opacity: 0;
  }

  

  .c--click {
    transform: translate(-50%, -50%) scale(0.5);
    background-color: rgba(253, 16, 16, 0.8);
 }

.c--hover {
  transform: translate(-50%, -50%) scale(0.3);
  border: 4px solid red;
 }

 .light-theme .c--hover {
  transform: translate(-50%, -50%) scale(0.3);
  border: 4px solid rgb(189, 189, 189);
}

#menuWrapper .c--hover {
  transform: translate(-50%, -50%) scale(0.3);
  border: 8px solid red !important;
}

 .c--hoverGrey {
    transform: translate(-50%, -50%) scale(0.2);
    border: 16px solid red;
 }

 .light-theme .c--hoverGrey {
  transform: translate(-50%, -50%) scale(0.2);
  border: 4px solid rgb(189, 189, 189);
}

.modal-veil .cursor {
  border: 4px solid #fff !important;
  opacity: 1 !important;
  z-index: 9999999;
}


progress {
	-webkit-appearance: none;
	appearance: none;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(calc(-50% + 3px), calc(50vh - 50%)) rotate(90deg);
	width: 100vh;
	height: 16px;
  background: transparent;
}

.dummy-start-scroll-contact, .dummy-start-scroll-about, .dummy-start-scroll-next {
  z-index: 999;
  background: red;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 0px;
}

/* Menu */

#menu-items p.text-white.list-none.text-6xl.md\:text-6xl.lg\:text-8xl.font-thin.relative.overflow-hidden.uppercase.transform.phrase {
  height: 128px;
}

#menu-items p.text-white.list-none.text-6xl.md\:text-6xl.lg\:text-6xl.font-thin.relative.overflow-hidden.uppercase.transform.phrase {
  height: 92px;
}

.menuContainer { position: fixed; left: 0px; height: 100%; width: 0%; background: rgb(14 14 14); z-index: 999; opacity: 0;}

.overlay { position: fixed; width: 100%; height: 100%; background: #000; opacity: 0.5; top: 0; opacity: 0;}

.menuContents { position: relative; z-index: 999; opacity: 0;}
.close {position: relative; z-index: 99999; color: red !important;}


/* Other */

.dummy-start-scroll-next {

}

.hide-images {
  display: none;
  visibility: hidden;
}

section.default {
  width: 100%;
  /* height: 500px; */
  height: auto;
  overflow: hidden;
  background-color: rgb(39, 39, 39);
}

section.default.double {
  width: 100%;
  /* height: 1000px; */
  height: auto;
  overflow: hidden;
  background-color: rgb(39, 39, 39);
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value, .dummy-start-scroll {
  background: red;
  background-attachment: fixed;
}

.red-theme progress::-webkit-progress-value {
  background: #000;
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: red;
  background-attachment: fixed;
}

.red-theme progress::-moz-progress-bar {
  background: #000;
  background-attachment: fixed;
}